.menu {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  width: 40rem;
  z-index: 100;

  padding: 15rem 4rem;
  box-sizing: content-box;

  background-color: var(--color-white);
}

.menuShow {


  animation: slideIn 1s;
}

.menuHide {
 
  opacity: 0;
  visibility: hidden;
  
  animation: slideOut 1s;
  transition: all 0s 1s;
}

@keyframes slideIn {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes slideOut {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -100%;
  }
}