.row {
  font-size: 1.2rem;
  font-weight: 200;
}

.row > td::after {
  content: '-';
  display: block;
  line-height: 3.6px;
  color: transparent;
}

.link {
  text-decoration: none;
  color: var(--color-primary);

  transition: all .4s;
}

.link:hover {
  color: var(--color-tertiary);
  text-decoration: underline;
}

.button {
  

  font-size: inherit;
  text-decoration: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;

  transition: all .4s;
}

.button:hover,
.button:focus {
  outline: none;
  color: var(--color-tertiary);
  text-decoration: underline;
}