.title {
  position: fixed;
  top: 3.8rem;
  left: 5rem;

  display: flex;
  align-items: center;

  color: white;
}

.text {
  font-size: 3rem;
  font-weight: 200;
}

.text > span {
  font-weight: bold;
}

.icon {
  height: 5rem;
  width: 4rem;
  margin-right: 1.6rem;
  padding-bottom: .6rem;
}

.icon > path {
  fill: white;
}
