.table {
  margin: 3rem 0 2rem;
  font-size: 1.1rem;
}

.tableShow {
  opacity: 1;

  /* transition: all .2s; */
}

.tableHide {
  opacity: 0;
  /* transition: all .2s; */
}

.head::after {
  content: '-';
  display: block;
  line-height: 1rem;
  color: transparent;
}

.title {
  font-size: 1.3rem;
}
